#img-bg{
    background-image: url('../../assets/img/Adinoel-bombeiro-disciplinas.jpg');
    min-height: 720px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}