#img-bg{
    background-image: url('../../assets/img/placa_decorativa_seja_bem_vindo_1559_1_20200805151221.jpg');
    min-height: 720px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}